<body>
    <header id="home">
        <nav class="animate">
            <div class="container">
                <div class="logo left">
                    <!-- Logo -->
                    <a  routerLink="/">
                        <img src="../../assets/images/logo.png" class='logo' />
                    </a>
                </div>
                <div class="menu-button hide right pointer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu left">
                    <div class="page-menu left">
                        <!-- Navigation -->
                        <!-- <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#appartments">Properties</a></li>
                        <li><a href="#works">How It Works</a></li>
                        <li><a href="#sevices">Sevices</a></li> -->
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </div>
                    <div class="registration flex-center">
                        <div class="join-us">
                            <!-- Join Us Button -->
                            <li class="pointer animate"><a href="#contact">Contact Us</a></li>
                        </div>
                        <div class="getting-started">
                            <!-- Get Started Button -->
                            <li routerLink="/" class="main-btn pointer text-center animate"><a>Home</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section id="appartments" class="appartments">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- <h2>More Then 500+<br>Properties available</h2> -->
              <br/>
              <br/>
              <h2>Properties available</h2>
            </div>
          </div>
          <div class="row">
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 0]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/0/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>East Legon Hills</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>$140,000 </p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
    
                      <p class="left">4 BD</p>
                    </div>
                    <!--   <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 1]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/1/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Appiadu (landmark KNUST)</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>GHc 700,000</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">4 BD</p>
                    </div>
                    <div class="bathrooms right flex-center">
                      <img src="../../assets/images/shower.svg" class="left" alt="">
                      <!-- Appartment Number of Bathrooms  -->
                      <p class="left">5 BA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 2]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/2/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Ahinsen (Landmark Kumasi High SHS/KNUST) </p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>GHc 900,000</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">4 BD</p>
                    </div>
                    <div class="bathrooms right flex-center">
                      <img src="../../assets/images/shower.svg" class="left" alt="">
                      <!-- Appartment Number of Bathrooms  -->
                      <p class="left">4.5 BA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 3]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/3/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Old Ashongman-Accra, 15 minutes drive from Legon Botanical Gardens.</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>GHc 420,000</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">3 BD</p>
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 4]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/4/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>4 Bedrooms furnished house for sale at Oyarifa</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>$250,000</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">4 BD</p>
                    </div>
                    <div class="bathrooms right flex-center">
                      <img src="../../assets/images/shower.svg" class="left" alt="">
                      <!-- Appartment Number of Bathrooms  -->
                      <p class="left">2 BA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 5]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/5/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>At East legon- School Junction (with 1 Boys quaters)</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <p>$250,000 </p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">5 BD</p>
                      <!-- <p class="left"> with1 Boys quaters</p> -->
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 6]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/6/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>4 Bedroom House for sale at Roman Ridge</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <p>$450,000 </p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">4 BD</p>
                      <!-- <p class="left"> with1 Boys quaters</p> -->
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 7]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/7/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>Luxurious 3 Bedroom House For Sale At East Legon Hills</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <p>$110,000 </p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">3 BD</p>
                      <!-- <p class="left"> with1 Boys quaters</p> -->
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 8]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/8/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>4 bedrooms town house letting in East Legon, Accra.</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left" style="width: 60%;">
                      <p>Contact for Price...</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">4 BD</p>
                      <!-- <p class="left"> with1 Boys quaters</p> -->
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 9]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/9/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>4 bedrooms town house letting in East Legon, Accra.</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left" style="width: 60%;">
                      <p>Contact for Price...</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">4 BD</p>
                      <!-- <p class="left"> with1 Boys quaters</p> -->
                    </div>
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 10]">
                <div class="appartment-image">
                  <img src="../../assets/images/apartments/10/home.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <p>Kwadaso Hilltop Estate Kumasi Ghana.</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left" style="width: 60%;">
                      <p>$750,000</p>
                    </div>
                   <!-- <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <p class="left">4 BD x 12</p>
                       <p class="left"> with1 Boys quaters</p> 
                    </div>-->
                    <!-- <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <div class="search lux-shadow search-appartments">
                 <input class="left" type="text" placeholder="Search Location">
              <button class="search-btn left">Search</button>
              </div>
              <div class="search-all">
                <button routerLink="/all" class="search-btn left search-all-btn">View All Properties</button>
              </div>
            </div>
          </div> -->
        </div>
      </section>

      <!------------------------------------------------ FOOTER SECTION -->
    <footer id="contact">
        <div class="container">
          <div class="row footer-top">
            <div class="col-12 col-md-6">
              <!-- logo -->
              <h3>Olyd</h3>
              <h3>Property Management</h3>
            </div>
            <!-- <div class="col-12 col-md-6 Newsletter">
              <input type="text" placeholder="Subscribe To Our Newsletter" class="left">
              <button class="newsletter-btn left"></button>
            </div> -->
          </div>
          <div class="row footer-bottom">
            <div class="col-sm-12 col-md-3 footer-logo">
              <h4>Olyd</h4>
              <p>Contact us</p>
              <div>
                <a href="https://www.instagram.com/olyd_property_management_/" target="_blank"><img
                    src="../../assets/images/instagram.svg" alt="">&nbsp; &nbsp; Instagram</a>
              </div>
              <div>
                &nbsp;<a href="#" target="_blank"><img src="../../assets/images/envelope.svg" alt="">&nbsp; &nbsp;
                  olydproperties@gmail.com</a>
              </div>
              <div>
                <a href="#">&nbsp; <img src="../../assets/images/phone-alt.svg" alt="">&nbsp; &nbsp; (+233) 322 031 764</a>
              </div>
              <br />
              <br />
              <p>© 2021 - Olyd,<br>All Right Reserved</p>
            </div>
            <div class="col-sm-3 col-md-1 footer-column">
              <!-- <h5>OLYD</h5>
            <a href="#appartments">Apa</a> -->
              <!-- <a href="#">Hunters</a> -->
            </div>
            <div class="col-sm-3 col-md-2 footer-column">
              <h5>COMPANY</h5>
              <a href="#about">About</a>
              <a href="#">FAQ</a>
              <!-- <a href="#">Contact</a> -->
              <!-- <a href="#">Social</a> -->
            </div>
            <div class="col-sm-3 col-md-2 footer-column">
              <h5>PRODUCT</h5>
              <a href="#appartments">Appartments</a>
              <a href="#works">How It Works</a>
            </div>
            <div class="col-sm-3 col-md-4 footer-column">
              <h5>SERVICES</h5>
              <div class="row">
                <div class="col">
                  <a href="#">Marketing</a>
                  <a href="#">Tenancy Selection</a>
                  <a href="#">Rent Collection</a>
                  <a href="#">Maintenance & Repair</a>
                  <a href="#">Insurance Advice & Claims</a>
                  <a href="#">Property Inspections</a>
                </div>
                <div class="col">
                  <a href="#">Tenant Induction</a>
                  <a href="#">Rent Review</a>
                  <a href="#">Documentation</a>
                  <a href="#">Rent Appraisals</a>
                  <a href="#">Tenant Move In</a>
                  <a href="#">Advertising</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>