<body>
    <header id="home">
        <nav class="animate">
            <div class="container">
                <div class="logo left">
                    <!-- Logo -->
                    <a routerLink="/">
                        <img src="../../assets/images/logo.png" class='logo' />
                    </a>
                </div>
                <div class="menu-button hide right pointer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu left">
                    <div class="page-menu left">
                        <!-- Navigation -->
                        <!-- <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#appartments">Properties</a></li>
                        <li><a href="#works">How It Works</a></li>
                        <li><a href="#sevices">Sevices</a></li> -->
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </div>
                    <div class="registration flex-center">
                        <div class="join-us">
                            <!-- Join Us Button -->
                            <li class="pointer animate"><a href="#contact">Contact Us</a></li>
                        </div>
                        <div class="getting-started">
                            <!-- Get Started Button -->
                            <li routerLink="/" class="main-btn pointer text-center animate"><a>Home</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Property -->
    <section class="property">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br />
                    <br />
                    <h2>{{prop.name}}</h2>
                </div>
            </div>
            <!-- ../../assets/images/apartments/temp.jpg -->
            <!-- Slider -->
            <div class="row">
                    <div class='col-12 col-lg-6'>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img src="../../assets/images/apartments/{{id}}/1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/4.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/5.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/6.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="arrows">
                            <a class="carousel-control-prev" onclick="$(this).closest('.carousel').carousel('next');" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" onclick="$(this).closest('.carousel').carousel('next');" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                <!-- details -->
                <div class="details col-12 col-lg-6">
                    <div class="price">
                        <p>{{prop.price}}</p>
                    </div>

                    <hr>
                    <p>
                        {{prop.description}}
                    </p>
                    <div class="row">
                        <div class="bedrooms right flex-center">
                            <img src="../../assets/images/bed.svg" class="left" alt="">
                            <p class="left">{{prop.rooms}}</p>
                        </div>
                        <div class="bathrooms right flex-center" *ngIf="prop.BAs !== 'not'">
                            <img src="../../assets/images/shower.svg" class="left" alt="">
                            <p class="left">{{prop.BAs}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------ FOOTER SECTION -->
    <footer id="contact">
        <div class="container">
            <div class="row footer-top">
                <div class="col-12 col-md-6">
                    <!-- logo -->
                    <h3>Olyd</h3>
                    <h3>Property Management</h3>
                </div>
                <!-- <div class="col-12 col-md-6 Newsletter">
              <input type="text" placeholder="Subscribe To Our Newsletter" class="left">
              <button class="newsletter-btn left"></button>
            </div> -->
            </div>
            <div class="row footer-bottom">
                <div class="col-sm-12 col-md-3 footer-logo">
                    <h4>Olyd</h4>
                    <p>Contact us</p>
                    <div>
                        <a href="https://www.instagram.com/olyd_property_management_/" target="_blank"><img
                                src="../../assets/images/instagram.svg" alt="">&nbsp; &nbsp; Instagram</a>
                    </div>
                    <div>
                        &nbsp;<a href="#" target="_blank"><img src="../../assets/images/envelope.svg" alt="">&nbsp;
                            &nbsp;
                            olydproperties@gmail.com</a>
                    </div>
                    <div>
                        <a href="#">&nbsp; <img src="../../assets/images/phone-alt.svg" alt="">&nbsp; &nbsp; (+233) 322
                            031 764</a>
                    </div>
                    <br />
                    <br />
                    <p>© 2021 - Olyd,<br>All Right Reserved</p>
                </div>
                <div class="col-sm-3 col-md-1 footer-column">
                    <!-- <h5>OLYD</h5>
            <a href="#appartments">Apa</a> -->
                    <!-- <a href="#">Hunters</a> -->
                </div>
                <div class="col-sm-3 col-md-2 footer-column">
                    <h5>COMPANY</h5>
                    <a href="#about">About</a>
                    <a href="#">FAQ</a>
                    <!-- <a href="#">Contact</a> -->
                    <!-- <a href="#">Social</a> -->
                </div>
                <div class="col-sm-3 col-md-2 footer-column">
                    <h5>PRODUCT</h5>
                    <a href="#appartments">Appartments</a>
                    <a href="#works">How It Works</a>
                </div>
                <div class="col-sm-3 col-md-4 footer-column">
                    <h5>SERVICES</h5>
                    <div class="row">
                        <div class="col">
                            <a href="#">Marketing</a>
                            <a href="#">Tenancy Selection</a>
                            <a href="#">Rent Collection</a>
                            <a href="#">Maintenance & Repair</a>
                            <a href="#">Insurance Advice & Claims</a>
                            <a href="#">Property Inspections</a>
                        </div>
                        <div class="col">
                            <a href="#">Tenant Induction</a>
                            <a href="#">Rent Review</a>
                            <a href="#">Documentation</a>
                            <a href="#">Rent Appraisals</a>
                            <a href="#">Tenant Move In</a>
                            <a href="#">Advertising</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>